<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-row>

    <ion-col>

      <ion-button id="open-picker">Open</ion-button>
      <ion-picker trigger="open-picker" [columns]="pickerColumns" [buttons]="pickerButtons"></ion-picker>
    </ion-col>
  </ion-row>
</ion-content>
