<section class="gradient-custom vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>

  

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input formControlName="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <span class="text-danger" [hidden]="!error">
            The username or password did not match!
          </span>
            </div>
          </div>
          <span class="text-secondary">If you don't have an account please register on this 
             <a routerLink="/register">link</a>!</span><br>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
   
</section>