<div class="row text-center">
    <div class="col-12">
        <h3 class="text-dark">Are you sure you want to delete this reseller?</h3>
    </div>

    <div class="col-6">
        <button class="btn btn-dark w-100" (click) = "confirmDelete()">Yes</button>
    </div>
    <div class="col-6">
        <button class="btn btn-light text-dark w-100" (click)="closeDialog()">No</button>
    </div>
</div>