<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Add new product to your list!</h2>
        </div>
    </div>
    <form  *ngIf="!loader" [formGroup]="createProductForm" (submit)="createProduct()">
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" formControlName="product_name" placeholder="Enter product name">
        </div>

        <button type="submit" class="btn btn-dark w-100 mt-3 ">Submit</button>
    </form>

    <div class="row" *ngIf="loader">
        <div class="col-3 m-auto p-3 text-center">
            <div class="spinner-border" role="status">
                
            </div>
        </div>
    </div>

    <div class="row" *ngIf="errorMessage">
        <div class="col-12 m-auto p-3 text-center">
            <h3 class="text-danger">There was a problem creating this entity!</h3>
        </div>
    </div>


    <div class="row" *ngIf="succesMessage">
        <div class="col-12 m-auto p-3 text-center">
            <h3 class="text-success">The entity was successfully created!</h3>
        </div>
    </div>
    
    

</div>
