
    <div class="row">
        <h1>Products from reseller: <b>{{reseller.reseller_name}} ({{reseller.brand_name}}) </b></h1>

        <h3 class="mt-2">To add any of this products to your inventory go to <a routerLink="/dashboard/products">
          <span class="badge btn btn-sm btn-success" (click)="closeDialog()">products</span> 
        </a> page.</h3>

        <div class="col-md-2 col-sm-12" *ngFor="let product of productsByReseller | async">
    
            <div class="card " style="width: 7rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Product_sample_icon_picture.png" width="10px" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <p class="card-text">{{product.product_name}}</p>
                </div>
              </div>
                
            </div>
       
    </div>
    





