<div class="container">

    <div class="row p-md-5 row-sm-1">
        <div class="col-md-8 col-sm-12">

          <h1 class="display-4">
            Welcome to your inventory!
          </h1>
          <p class="muted">On this page you can see all your products and check if there is a need to make an automatic restock order.</p>
          <p class="muted text-danger">For the products stocks to stay updated, you need to update them manually every day (for example - after closing your business).</p>
          <p class="muted">Only that way you will be sure that the numbers you see are valid.</p>
            <p class="muted">When you want to make automatic order just click the  <button class="btn btn-outline-dark btn-sm w-25">Order</button> button bellow the product!</p>
            <p><span class="badge bg-info">Approved</span> or <span class="badge bg-warning text-dark">Pending</span> orders:  </p>
            <div>


                <label for="selectedDate">Filter orders by date:</label>
                <select class="form-select mb-2" id="selectedDate" name="selectedDate" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange()">
                  <option *ngFor="let day of pastDays" [value]="day">{{ day }}</option>
                </select>



              </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let order of ordersByBusiness | async" [class.bg-info]="order.status == 'OPENED'" [class.bg-warning]="order.status == 'NOT_OPENED'"
                >{{order.product.product_name}} - {{order.product.reseller.reseller_name}} ({{order.product.reseller.brand_name}}) <span class="badge bg-dark">ordered {{order.quantityOrdered}}</span></li>
              </ul>
         </div>
      </div>

      <div class="row" *ngIf="loader">
        <div class="col-3 m-auto p-3 text-center">
            <div class="spinner-border" role="status">

            </div>
            <span>Loading...</span>
        </div>
    </div>

    <div class="row" *ngIf="!loader">

        <div class="col-md-4 col-sm-12" *ngFor="let inventory of paginatedItems">

            <div class="card  m-5 ">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">{{inventory.product.product_name}}</h5>
                        <span class="badge bg-dark">from {{inventory.product.reseller.reseller_name}} ({{inventory.product.reseller.brand_name}})</span>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <div class="col-12 text-left">
                                <span> Quantity limit:  <i class="fa fa-arrow-up"></i></span>
                            </div>
                            <h4 class="d-flex align-items-center mb-0">
                                {{inventory.quantity_limit}}
                            </h4>
                        </div>
                        <div class="col-12 text-right">
                            <span> On stock right now</span> <br/>

                    <span>
                        <b class="fs-4">
                            {{inventory.quantity_on_stock}}/{{inventory.quantity_limit}}
                    </b>
                </span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar  l-bg-orange-dark"
                            [class.l-bg-red]="((inventory.quantity_on_stock / inventory.quantity_limit) * 100) <= 30"
                            [class.l-bg-orange-dark]="((inventory.quantity_on_stock / inventory.quantity_limit) * 100) > 30 && ((inventory.quantity_on_stock / inventory.quantity_limit) * 100) < 60"
                            [class.l-bg-blue-dark]="((inventory.quantity_on_stock / inventory.quantity_limit) * 100) > 60"
                             role="progressbar" data-width="25%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" [style.width.%]="(inventory.quantity_on_stock / inventory.quantity_limit) * 100"></div>

                    </div>

                    <p (click)="openQuantityStockDialog(inventory)" class="muted mt-3 badge btn btn-dark btn-outline-warning text-light w-100">Update products left in stock here!</p>
                    <div class="row">
                        <div class="col-12 ">
                            <span class="badge bg-secondary w-100 mb-1" *ngIf="inventory.status === 'ORDERED'">Already you have a pending order.</span>
                            <button class="btn btn-sm btn-outline-dark w-100" (click)="openOrderDialog(inventory)" [disabled]="inventory.status === 'ORDERED'">Order</button>
                        </div>
                    </div>


                </div>

            </div>



        </div>

        <div class="row mb-5">
            <p class="badge bg-light text-dark">Current page: {{currentPage}}</p>
            <div class="col-6 m-auto d-flex justify-content-center">

                <div class="pagination m-auto">
                    <button class="btn page-link " (click)="changePage(currentPage-1)" [disabled] = "currentPage === 1">Previous</button>
                    <button *ngFor="let page of getPageNumbers()" (click)="changePage(page)" class="page-link btn">{{ page }}</button>
                    <button class="page-link btn" (click)="changePage(currentPage+1)" [disabled] = "currentPage === getPageNumbers().length">Next</button>
                </div>
            </div>
        </div>




    </div>
</div>
