<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Add a new product to your list!</h2>
        </div>
    </div>
    <form  [formGroup]="createInventoryForm" (submit)="createInventory()">
        <div class="form-group">
            <label for="quantityLimit">Quantity to have in stock</label>
            <input type="number" class="form-control" id="quantityLimit" 
            formControlName="quantity_limit" placeholder="Enter quantity limit" >
        </div>
        
        <button type="submit" class="btn btn-dark w-100 mt-3 ">Submit</button>
    </form>

   
    
    

</div>
