
 <div class="container-fluid">
   <div class="row">
    
    <app-sidebar class="col-md-3 col-lg-2 "></app-sidebar>
    
    <div class="col-lg-10">

    <router-outlet></router-outlet>
      
    </div>
        
   </div>
    
   
</div>