<div class="container mt-5" >
    <div class="row">
        <div class="col-12">
            <h2>Edit this reseller!</h2>
        </div>
    </div>
    <form *ngIf="!loader" [formGroup]="editResellerForm" (submit)="editReseller()">
        <div class="form-group">
            <label for="resellerName">Reseller Name</label>
            <input type="text" class="form-control" id="resellerName" formControlName="reseller_name" placeholder="Enter reseller name">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phone_number" placeholder="Enter phone number">
        </div>
        <div class="form-group">
            <label for="brandName">Brand Name</label>
            <input type="text" class="form-control" id="brandName" formControlName="brand_name" placeholder="Enter brand name">
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3 ">Edit</button>
    </form>

    <div class="row" *ngIf="loader">
        <div class="col-3 m-auto p-3 text-center">
            <div class="spinner-border" role="status">
                
            </div>
        </div>
    </div>

    <div class="row" *ngIf="errorMessage">
        <div class="col-12 m-auto p-3 text-center">
            <h3 class="text-danger">There was a problem creating this entity!</h3>
        </div>
    </div>


    <div class="row" *ngIf="succesMessage">
        <div class="col-12 m-auto p-3 text-center">
            <h3 class="text-success">The entity was successfully created!</h3>
        </div>
    </div>
</div>
