<div class="container p-lg-3" *ngIf="user.role == 'ROLE_BUSINESS' || user.role == 'ROLE_ADMIN'">
    <div class="row p-md-5 p-sm-1 bg-secondary text-light">
      <div class="col-6">
        <h2>Welcome to your business management tool!</h2>
        <div class="p text-left">
          Here you can have a quick view to all of your possible actions and tables.
        </div>
      </div>
    </div>


    <div class="row mt-5">
        <div class="col-lg-6 col-md-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Resellers</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Quick actions for your resellers</h6>
                  <p class="card-text">Check their products and maybe you decide to use some of them?</p>
                  <a routerLink="/dashboard/resellers" class="card-link">Go to resellers overview</a>
              
                </div>
              </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Products</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Quick actions for your products on stock</h6>
                  <p class="card-text">Check out the products you have on stock. Maybe you need to add new products?</p>
                  <a routerLink="/dashboard/products" class="card-link">Go to products on stock overview</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Your inventory</h5>
                  <p class="card-text">Check out your inventory stock, visualize what will you need for another day and make an automatic order!</p>
                  <a routerLink="/dashboard/inventory" class="card-link">Go to your inventory overview</a>
                  
                </div>
              </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">My business/profile</h5>
                  <h6 class="card-subtitle mb-2 text-muted">View or edit your profile</h6>
                  <p class="card-text">Edit your business name, username or password if you need.</p>
                  <a routerLink="/profile" class="card-link">Check out my profile</a>
                </div>
              </div>
        </div>
</div>
</div>



<div class="container p-lg-3" *ngIf="user.role == 'ROLE_RESELLER' || user.role == 'ROLE_ADMIN'">
  <div class="row p-md-5 p-sm-1 bg-secondary text-light">
    <div class="col-6">
      <h2>Welcome to your business management tool!</h2>
      <div class="p text-left">
        Here you can have a quick view to all of your possible actions and tables.
      </div>
    </div>
  </div>
  


  <div class="row mt-5">
      <div class="col-lg-6 col-md-12">
          <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Resellers</h5>
                <h6 class="card-subtitle mb-2 text-muted">Quick actions for your resellers</h6>
                <p class="card-text">Check their products.</p>
                <a routerLink="/dashboard/resellers" class="card-link">Go to resellers overview</a>
            
              </div>
            </div>
      </div>

      <div class="col-lg-6 col-md-12">
          <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Offered products</h5>
                <h6 class="card-subtitle mb-2 text-muted">Quick actions for your products on stock</h6>
                <p class="card-text">Check out the products you have on stock. Maybe you need to add new products?</p>
                <a routerLink="/dashboard/reseller-products" class="card-link">Go to your products on stock overview</a>
              </div>
            </div>
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-lg-6 col-md-12">
          <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">Check out if there is any new order!</p>
                <a routerLink="/dashboard/orders" class="card-link">Go to your orders overview</a>
                
              </div>
            </div>
      </div>

      <div class="col-lg-6 col-md-12">
          <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">My business/profile</h5>
                <h6 class="card-subtitle mb-2 text-muted">View or edit your profile</h6>
                <p class="card-text">Edit your business name, username or password if you need.</p>
                <a routerLink="/profile" class="card-link">Check out my profile</a>
              </div>
            </div>
      </div>
</div>
</div>