
<div class="container p-5">
    <div class="row">
        <div class="col-md-8 col-sm-12">
    
          <h1 class="display-4">
            Here you can manage your orders, make sure to <button class="btn-sm btn btn-outline-secondary">Mark as opened</button> all the orders that you have seen or processed!
          </h1>
    
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity ordered</th>
            <th scope="col">Order date</th>
            <th scope="col">Urgency</th>
            <th scope="col">Business</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of paginatedItems" [class.table-danger]="order.status == 'NOT_OPENED'" >
            <th scope="row">{{order.id}}</th> 
            <td>{{order.product.product_name}}</td>
            <td>{{order.quantityOrdered}}</td>
            <td>{{order.orderDate | date}}</td>
            <td>{{order.urgency}}</td>
            <td>{{order.business.business_name}}</td>
            <td *ngIf="order.status == 'NOT_OPENED'"><button class="btn-sm btn btn-secondary" (click)="markAsOpen(order.id!)">Mark as opened</button></td>
          </tr>
          
        </tbody>
      </table>
      <div class="row mb-5">
        <p class="badge bg-light text-dark">Current page: {{currentPage}}</p>
        <div class="col-6 m-auto d-flex justify-content-center">
            
            <div class="pagination m-auto">
                <button class="btn page-link " (click)="changePage(currentPage-1)" [disabled] = "currentPage === 1">Previous</button>
                <button *ngFor="let page of getPageNumbers()" (click)="changePage(page)" class="page-link btn">{{ page }}</button>
                <button class="page-link btn" (click)="changePage(currentPage+1)" [disabled] = "currentPage === getPageNumbers().length">Next</button>
            </div>
        </div>


</div>
