<button class="btn btn-dark text-light offset-10" (click)="closeDialog()">X</button>


<div class="container mt-5" >
    <div class="row">
        <div class="col-12">
            <h2>Update your stock quantity!</h2>
        </div>
    </div>
    <form  [formGroup]="editQuantityForm" (submit)="editInventory()">
        <div class="form-group">
            <label for="quantityStock">Quantity</label>
            <input type="text" class="form-control" id="quantityStock" 
            formControlName="quantity" placeholder="Update quantity" required [max]="inventory.quantity_limit">
        </div>
       
        <button type="submit" class="btn btn-primary w-100 mt-3 ">Update</button>
    </form>
</div>
