<div class="row">

    <form [formGroup]="urgencyForm" (submit)="automaticOrder()">


        <label for="urgency" class="form-label">Choose urgency level:</label>

        <div class="col-12">
            <select class="form-select" aria-label="Urgency select" id="urgency" formControlName="urgency">
            <option value="STANDARD">Standard</option>
            <option value="URGENT">Urgent</option>
          </select>  

    </div>

    <button class="btn btn-outline-dark w-100 mt-2" type="submit">Order</button>

    </form>

</div>
