<div class="row text-center">
    <div class="col-12">
        <h3 class="text-dark">{{confirmDialogBody.message}}</h3>
    </div>

    <div class="col-6">
        <button class="btn btn-dark w-100" (click) = "onConfirm()">{{confirmDialogBody.confirm_message}}</button>
    </div>
    <div class="col-6">
        <button class="btn btn-light text-dark w-100" (click)="onDecline()">{{confirmDialogBody.decline_message}}</button>
    </div>
</div>