<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              
              <div class="col-md-12 mb-4">
  
                <h6 class="mb-2 pb-1">Choose your role: </h6>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                    value="option1" checked #business_radio (input)="business_radio.checked = true"  />
                  <label class="form-check-label" for="femaleGender">Business</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                    value="option2" #reseller_radio (input)="reseller_radio.checked = true"  />
                  <label class="form-check-label" for="maleGender">Reseller</label>
                </div>


              </div>


              <form *ngIf="business_radio.checked" [formGroup]="registerBusinessForm" (submit)="registerBusiness()">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input formControlName="username" type="text" id="username" class="form-control form-control-lg" />
                      <label class="form-label" for="username">Username</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input formControlName="password" type="password" id="password" class="form-control form-control-lg" />
                      <label class="form-label" for="password">Password</label>
                    </div>
  
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input formControlName="business_name"  type="text" id="businessName" class="form-control form-control-lg" />
                        <label class="form-label" for="businessName">Business Name</label>
                      </div>
    
                    </div>

                    <div class="col-md-6 pt-2">
                        <input class="btn btn-primary btn w-100" type="submit" value="Submit" />
                      </div>


                  </div>
  
               
  
              </form>


              <form *ngIf="reseller_radio.checked" [formGroup]="registerResellerForm" (submit)="registerReseller()">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input formControlName="username" type="text" id="username" class="form-control form-control-lg" />
                      <label class="form-label" for="username">Username</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input formControlName="password" type="password" id="password" class="form-control form-control-lg" />
                      <label class="form-label" for="password">Password</label>
                    </div>
  
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input formControlName="reseller_name"  type="text" id="resellerName" class="form-control form-control-lg" />
                        <label class="form-label" for="resellerName">Reseller Name</label>
                      </div>
    
                    </div>

                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input formControlName="brand_name"  type="text" id="brandName" class="form-control form-control-lg" />
                        <label class="form-label" for="brandName">Brand Name</label>
                      </div>
    
                    </div>
                  


                  </div>
                  
                  <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input formControlName="phone_number"  type="text" id="phoneNumber" class="form-control form-control-lg" />
                        <label class="form-label" for="phoneNumber">Phone number</label>
                      </div>
    
                    </div>


                    <div class="col-md-6 pt-2">
                      <input class="btn btn-primary btn w-100" type="submit" value="Submit" />
                    </div>

                  </div>
  

               
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>