
<div class="container p-5" >

  

  <div class="row">
    <div class="col-md-8 col-sm-12">

      <h1 class="display-4">
        Here you can find and manage the resellers you work with and then assign add their products to 
        your inventory!
      </h1>

    </div>
  </div>

    <div class="row">
      
      <form class="row domain-search bg-secondary rounded-2">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="form-title">Find a <strong>reseller you already know</strong></h2>
                    <p>Search for him in the search box</p>
                </div>
                <div class="col-md-9">
                   
                      <form [formGroup]="searchForm" class="input-group">
                        <input type="text" formControlName="searchTerm"  #search_box class="form-control" placeholder="Search for a reseller" >
                        <span class="input-group-addon"><input type="submit" value="Search"  
                          class="btn btn-primary rounded-e-2" (click)="searchByTerm(search_box.value)"></span>
                      </form>
                    
                </div>
            </div>
        
    </form>

      

        <div class="row">
          <div class="row" *ngIf="loader">
            <div class="col-3 m-auto p-3 text-center">
                <div class="spinner-border" role="status">
                    
                </div>
            </div>
        </div>

        <div class="row">
          <div class="row" *ngIf="errorMessage">
            <div class="col-3 m-auto p-3 text-center">
                <p class="text-danger">No resellers were found!</p>
            </div>
        </div>
          <div class="col-md-4 col-sm-12" *ngFor="let reseller of paginatedItems">

            <div class="card testimonial-card mt-2 mb-3" *ngIf="!loader">
              <div class="card-up aqua-gradient"></div>
              <div class="avatar mx-auto white">
                <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" class="rounded-circle img-fluid"
                  alt="woman avatar">
              </div>
              <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">{{reseller.reseller_name}}</h4>
                <span class="text-muted">{{reseller.brand_name}}</span>
                <hr>
                <span class="badge bg-secondary">Phone number: {{reseller.phone_number}} </span><br>
                <button class="mt-2 btn btn-warning" (click)="openViewResellerProfileDialog(reseller)"
                >View products</button>
              </div>
            </div>
      
          </div>

          <div class="row mb-5">
            <p class="badge bg-light text-dark">Current page: {{currentPage}}</p>
            <div class="col-6 m-auto d-flex justify-content-center">
                
                <div class="pagination m-auto">
                    <button class="btn page-link " (click)="changePage(currentPage-1)" [disabled] = "currentPage === 1">Previous</button>
                    <button *ngFor="let page of getPageNumbers()" (click)="changePage(page)" class="page-link btn">{{ page }}</button>
                    <button class="page-link btn" (click)="changePage(currentPage+1)" [disabled] = "currentPage === getPageNumbers().length">Next</button>
                </div>
            </div>
        </div>


        
      </div>

   
    


      

    
     


    </div>

    

</div>
